{% extends 'main/base.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}


      	<div class="container mt-3">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>مدل</th>
        <th>نام برند</th>
        <th>قیمت</th>
        <th>رنگ</th>
          <th>سایز نمایش گر</th>
          <th>موچودی</th>
        <th>کشور سازنده</th>

      </tr>
    </thead>
    <tbody>
    {% for product in productlist %}
      <tr>
            <td >{{ product.modelName }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.screenSize }}</td>
            <td>{{ product.inventoryStatus }}</td>
            <td>{{ product.manufacturingCountry }}</td>

      </tr>
    {% endfor %}



    </tbody>
  </table>
<div/>
{% endblock %}
